#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Georgia', serif; /* Cambié la fuente a una más clásica */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Añadí un color de fondo suave */
}

.navbar {
  background-color: #8b4513; /* Marrón oscuro para representar la estética gaucha */
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-size: 16px;
}

.btn-about {
  background-color: #b95f1bd5;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.product {
  width: 30%;
  border: 1px solid #8b4513; /* Borde marrón oscuro */
  padding: 20px;
  margin: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: #fff; /* Fondo blanco para destacar los productos */
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sutil sombra al hacer hover */
}

.product h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #8b4513; /* Texto marrón oscuro */
}

.product p {
  font-size: 1.2em;
  color: #555;
}

.product img {
  max-width: 100%;
  height: auto;
  border: 1px solid #8b4513;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}